
<div class="contenedorP">

  <div class="contenedor2">
    <div class="iconoUser"> 
      <img src="../../assets/png/002-businessman.png">
    </div>  
    <div class="row">
      <form [formGroup] = "formLogin">
      
          <label for="" class="type-font">Login</label>
          <br>
     
            <input type="text" placeholder="username" formControlName="username" >
        
          <br>
        
            <input type="password" placeholder="Password" formControlName="password" >
         
          <br>
          <button type="submit" (click)="sendLogin()" class="boton">Login</button>
       
        <!---agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"></agm-map-->
      </form> 
    </div>
  </div>


<footer class="foter">
  server status
  <span *ngIf="!socket.socketStauts">offline</span>
  <span *ngIf="socket.socketStauts">online</span>
</footer>


</div>


